/* src/assets/global.css */
.el-select .el-input__inner {
    background-color: #66b1ff !important;
    color: #333 !important;
}

.el-button--primary {
    background-color: #409EFF !important;
    border-color: #409EFF !important;
    color: white !important;
}

.el-button--primary:hover {
    background-color: #66b1ff !important;
    border-color: #66b1ff !important;
    color: white !important;
}
